services:
  server:
    build:
      context: .
      target: development
    ports:
      - 8083:8080
    depends_on:
      db:
        condition: service_healthy
    environment:
      - POSTGRES_URL=jdbc:postgresql://db:5432/postgres?user=postgres&password=postgres
      - JWT_SECRET=${JWT_SECRET:-xHMaro8aNn82Lo2y5zyiBmOz2NuHyXtauex28293dXY=}
    develop:
      watch:
        - action: rebuild
          path: .

  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    # ports:
      # - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 10s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    environment:
      - PGADMIN_DEFAULT_SERVER=db
      - PGADMIN_DEFAULT_EMAIL=postgres@example.com
      - PGADMIN_DEFAULT_PASSWORD=postgres
    ports:
      - 8084:80
    depends_on:
      db:
        condition: service_healthy

volumes:
  db-data:
